<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Pergunte ao Polvo MVC</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/style.css")" />
	<link rel="shortcut icon" href="@Url.Content("~/Public/images/favico.png")" type="image/x-icon" />
</head>
<body>
<div id="canvas">
	<div id="header"><img src="@Url.Content("~/Public/images/polvo_top.png")" width="285" height="53" alt="pergunteaopolvo.com.br" /></div>
  <div id="corpo">
    <p><img src="@Url.Content("~/Public/images/imagem_polvo.png")" width="552" height="329" alt="Imagem Polvo" /></p>

	@RenderBody()

  </div>
</div>
</body>
</html>